/*****************HEADER*/
header p {
  font-size: 2rem;
}

/************************************************************* NAVEGACION*/
.col {
  display: inline-block;
}
.col-nav {
  vertical-align: top;
  margin: 1rem 0.5rem;
  padding: 1rem;
  line-height: 50px;
  position: sticky;
  top: 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}
.col-main {
  width: 80%;
}
/************************FLECHA OCULTAR*/

.flecha-subir,
.flecha-volver {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 40px;
}

/************************************************************* SKILLS*/
.col-hard {
  width: 45%;
  margin-right: 5%;
}
.col-soft {
  width: 45%;
  vertical-align: top;
}

#skills ul li {
  padding-bottom: 1rem;
  display: inline-block;
}
